@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold text-black dark:text-gray-50 tracking-wide mb-2;
  }
  h2 {
    @apply text-xl font-semibold mb-2 text-gray-950 dark:text-gray-100 tracking-wide;
  }
  h3 {
    @apply text-lg text-gray-950 dark:text-gray-100;
  }
  p {
    @apply text-base text-gray-900 dark:text-gray-200 mb-1 tracking-wide;
  }
}

@layer components {
  .btn {
    @apply px-8 py-2 bg-violet-700 rounded-md text-base text-white font-semibold;
  }
  .dark .btn {
    @apply bg-violet-600;
  }
  .itm-shadow {
    @apply drop-shadow-base dark:drop-shadow-base-white;
  }
  .nav-icon {
    @apply fill-slate-800 dark:fill-slate-50 drop-shadow-base dark:drop-shadow-base-white;
  }
  .icon {
    @apply fill-slate-800 dark:fill-slate-50;
  }
  .layout {
    @apply min-h-screen px-6 pt-16 md:px-24 md:pt-24 flex flex-col;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb)); */
}

* {
  transition: background 0.25s linear, color 0.25s linear;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
