.gradientBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  --height: calc(1.5 * 100vh);
  --width: calc(1.5 * 100vw);
  position: absolute;
  /* To adapt for mobile phone and desktop device screen */
  width: max(var(--height), var(--width));
  aspect-ratio: 1;
  background: linear-gradient(
    270deg,
    rgb(151, 23, 23),
    rgb(0, 141, 196),
    rgb(24, 98, 24),
    rgb(44, 83, 99),
    rgb(226, 226, 0),
    rgb(2, 2, 183)
  );
  background-size: 600% 600%;
  animation: GradientMoveRotate 20s linear infinite;
}

@keyframes GradientMoveRotate {
  0% {
    background-position: 0% 50%;
    transform: rotate(0deg);
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
    transform: rotate(360deg);
  }
}
